.oriText{
	font-family: 'roboto', san-serif;
	font-weight: 900;
	text-anchor: middle;
	fill: black;
}
.pickedText{
	font-family: 'roboto', san-serif;
	font-weight: 900;
	text-anchor: middle;
	fill: black;
}
.legendOriText{
	font-family: 'roboto', san-serif;
	font-weight: 400;
	text-anchor: middle;
	fill: white;
}
.legendPicText{
	font-family: 'roboto', san-serif;
	font-weight: 400;
	text-anchor: middle;
	fill: white;
}