body{
	background: black;
}
#title{
	color: white;
	font-family: 'roboto', san-serif;
	font-weight: 900;
}
input, select, textarea{
    color: #ffffff;
}
.oriText{
	font-family: 'roboto', san-serif;
	font-weight: 900;
	text-anchor: middle;
	fill: black;
}
.pickedText{
	font-family: 'roboto', san-serif;
	font-weight: 900;
	text-anchor: middle;
	fill: black;
}
.legendOriText{
	font-family: 'roboto', san-serif;
	font-weight: 400;
	text-anchor: middle;
	fill: white;
}
.legendPicText{
	font-family: 'roboto', san-serif;
	font-weight: 400;
	text-anchor: middle;
	fill: white;
}

.bri_dar {
	font-family: 'roboto', san-serif;
	font-weight: 400;
	text-anchor: middle;
	fill: white;
}
.viv_dul{
	font-family: 'roboto', san-serif;
	font-weight: 400;
	text-anchor: middle;
	fill: white;	
}