body{
	background: black;
}
#title{
	color: white;
	font-family: 'roboto', san-serif;
	font-weight: 900;
	font-size: 2em;
}
input{
	background-color: white;
}
label{
	font-family: 'roboto', san-serif;
	font-weight: 400;
	text-anchor: middle;
	font-size: 0.7em;
	dominant-baseline: central;
	color: white;
}
legend{
	font-family: 'roboto', san-serif;
	font-weight: 400;
	text-anchor: middle;
	font-size: 0.7em;
	dominant-baseline: central;
	color: white;
}
.frontIndexL{
	stroke: white;
	stroke-width: 2;
}
.frontIndexT{
	font-family: 'roboto', san-serif;
	font-weight: 400;
	text-anchor: middle;
	font-size: 0.7em;
	dominant-baseline: central;
	fill: white;
}
.frontIndexTB{
	font-family: 'roboto', san-serif;
	font-weight: 100;
	text-anchor: middle;
	font-size: 0.2em;
	dominant-baseline: central;
	fill: white;
}

.oriText{
	font-family: 'roboto', san-serif;
	font-weight: 900;
	text-anchor: middle;
	fill: black;
}
.pickedText{
	font-family: 'roboto', san-serif;
	font-weight: 900;
	text-anchor: middle;
	fill: black;
}
.legendOriText{
	font-family: 'roboto', san-serif;
	font-weight: 400;
	text-anchor: middle;
	dominant-baseline: central;
	fill: white;
}
.legendPicText{
	font-family: 'roboto', san-serif;
	font-weight: 400;
	text-anchor: middle;
	dominant-baseline: central;
	fill: white;
}

.bri_dar {
	font-family: 'roboto', san-serif;
	font-weight: 400;
	text-anchor: middle;
	dominant-baseline: central;
	fill: white;
}
.viv_dul{
	font-family: 'roboto', san-serif;
	font-weight: 400;
	text-anchor: middle;
	dominant-baseline: central;
	fill: white;	
}
.tick_text{
	font-family: 'roboto', san-serif;
	font-weight: 100;
	text-anchor: left;
	dominant-baseline: text-before-edge;
	font-size: 0.2em;
	fill: white;
}
.graphText{
	font-family: 'roboto', san-serif;
	font-weight: 100;
	text-anchor: start;
	dominant-baseline: text-before-edge;
	font-size: 0.2em;
	fill: white;
}
.graphText2{
	font-family: 'roboto', san-serif;
	font-weight: 100;
	text-anchor: end;
	dominant-baseline: text-before-edge;
	font-size: 0.2em;
	fill: white;
}
.graph_legendT{
	font-family: 'roboto', san-serif;
	font-weight: 400;
	text-anchor: middle;
	dominant-baseline: ideographic;
	font-size: 0.7em;
	fill: white;
}


/*radio button design*/

input[type=radio]{
	display: none;
	margin: 10px;
}
input[type=radio] + label {
	display: inline-block;
	margin: -2px;
	padding: 4px 12px;
	background-color: #949399;
	border-color: #ddd;
}
input[type=radio]:checked + label{
	background-image: none;
	background-color: #67B2AE;
}